<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<title>나를 소개합니다</title>
	<!-- jquery -->
   	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   
   	<!-- css link -->
   	<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
	<link rel="stylesheet" href="/css/common/reset.css">
	<link rel="stylesheet" href="/css/common/common.css">
	<link rel="stylesheet" href="/css/sub.css">
</head>
<body>
	<div id="wrap">
		<!-- header -->
        <header id="header">
            <h1>
                <a href="/home">JSTORY</a>
                <span>PROFILE</span>
            </h1>
            <button class="hamburger-menu" onclick="menu();">
            	<i class="xi-hamburger-back"></i>
            </button>
            <div class="side-menu" id="side-menu">
			    <!-- 메뉴 항목 -->
			    <ul class="menu-section">
			    	<li><a href="/home">HOME</a></li>
			    	<li><a href="/todo">TODOLIST</a></li>
			    	<li><a href="/mountain">나만의 등산 기록방(GIS)</a></li>
			    </ul>
			</div>
        </header>
	
		<section id="container" class="main">
			<!-- intro -->
            <div class="profile intro">
                <div class="inner">
                    <div class="txtWrap">
                        <h2>About ME</h2>
                        <img src="/images/Capture.png" alt="me"/>
                        <p>"기획, 디자인, 개발까지 다하는 인간 스타트업이 되기 위해서 노력 중에 있습니다. <br>
                        비록 행정, 법, 경영학을 전공하였으나, 졸업 이후 컴공공부를 따로 하였으며<br>
                        개발자가 되었고 여러 크고 작은 프로젝트를 경험하였습니다.<br>
                        JAVA가 제 주력 언어이며 Node.js(React.js)도 사용가능합니다.<br>
                        <br>
                        무엇이든 시작하면 제대로 하는 성격의 소유자, 김재혁!<br>
                        함께 즐겁고 열정적으로 무언가를 만들 준비가 되어 있습니다!!"</p>
                    </div>
                </div>
            </div>

            <!-- addi -->
            <div class="profile addi">
                <div class="inner">
                    <div class="txtWrap">
                        <h2>Capability</h2>
                        <p>Node.js &#40;Express.js, Nest.js&#41; </p>
                        <p>Publishing with html, CSS, JS </p>
                        <p>Connecting DB (using MySQL, Oracle) </p>
                        <p>Using Eclipse, Websquare5, Nexacro (Java, JSP.. etc) </p>
                        <p>UX Research / UI Prototyping </p>
                    </div>
                </div>
            </div>
            
            <div class="profile education">
                <div class="program">
                    <h2>EDUCATION</h2>
                    <p>
                        1. 스파르타코딩클럽 Node.js백엔드 과정<br>
                        - 주 스파르타 ( 1000시간 )
                    </p>
                    <p>    
                        2. 웹콘텐츠 UI/UX 디자인 & 프론트앤드(React.js)<br>
                        -강남 이젠아카데미 ( 880시간 )
                    </p>
                    <p>
                        3. JAVA Enterprise developer 양성 프로그램<br>
                        -강남대학교 산학협력단 주관 ( 800시간 )
                    </p>
                </div>
            </div>
        </section>
        

        <!-- footer -->
        <footer id="footer">
            <div class="inner">
                <h3>CONTACT ME</h3>
                <ul class="links">
                    <li><a href="https://www.youtube.com/channel/UCIUZejYbHXZOHhwUokcRBUQ"><img src="/images/YoutubeLogo.png" alt="유튜브"/><em>YOUTUBE</em></a></li>
                    <li><a href="https://jh-healing-place.tistory.com/"><img src="/images/NaverLogo.png" alt="티스토리"/><em>BLOG</em></a></li>
                    <li><a href="https://www.instagram.com/j_hyeok_8/?hl=ko"><img src="/images/InstarLogo.png" alt="인스타그램"/><em>INSTAGRAM</em></a></li>
                </ul>
                <div class="always">
                    <p>Future Korean NO.1 Developer</p>
                </div>

                <div class="top">
                	<a href="#">
                		<i class="xi-angle-up"></i>
                	</a>
                </div>
            </div>
        </footer>
		
	</div>
	
	<!-- script part -->
    <script src="/js/common.js"></script>
    <script src="/js/sub.js"></script>
</body>
</html>