<!DOCTYPE heml>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    
	    <link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
		
		<title>Jstory</title>
		<!-- jquery -->
    	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    	<!-- css link -->
    	<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
		<link rel="stylesheet" href="/css/common/reset.css">
		<link rel="stylesheet" href="/css/common/common.css">
		<link rel="stylesheet" href="/css/main.css">
	</head>
	<body>
		<div id="wrap">
	        <!-- header -->
	        <header id="header">
	            <h1>
	                <a href="/home">JSTORY</a>
	                <span>Thymeleaf X JAVA X MySQL</span>
	            </h1>
	            <button class="hamburger-menu" onclick="menu();">
	            	<i class="xi-hamburger-back"></i>
	            </button>
	            <div class="side-menu" id="side-menu">
				    <!-- 메뉴 항목 -->
				    <ul class="menu-section">
				    	<li><a href="/home">HOME</a></li>
				    	<li><a href="/profile">PROFILE</a></li>
				    	<li><a href="/project">PROJECT</a></li>
				    	<li><a href="/todo">[SideProject] TODOLIST</a></li>
				    	<li><a href="/mountain">[SideProject] 등산 기록방</a></li>
				    	<li><a href="/game">[SideProject] JWorld(게임)</a></li>
				    </ul>
				    
				    <!-- bottom-menu -->
				    <ul class="bottom-menu">
				    	<li><a href="https://github.com/tuy112/JstoryTransformation">ASIS 1</a></li>
				    	<li><a href="https://github.com/tuy112/Jstory">ASIS 2</a></li>
				    	<li><a href="https://www.notion.so/Software-Developer-Kim-Jae-Hyeok-be4b14ad09ed4da5bd038c364109e8b4">노션이력서</a></li>
				    	<li><a href="#">API연동기획서(엑셀)</a></li>
				    </ul>
				</div>
	        </header>
	
	        <!-- main -->
	        <section id="container" class="main">
	            <div class="select-wrap">
	                <h2>아래 버튼을 클릭해서 원하는 페이지로 이동하세요 ▼</h2>
	                <div class="select-box" id="selectBox">
	                	<div class="box-item item1" onclick="showModalAndRedirect('/profile')">
							<div class="box-front">
			                    <h3>PROFILE</h3>
			                    <p>JH를 소개합니다!</p>
			                </div>
			                <div class="box-back">
			                    <p>Click to Visit Profile Page</p>
			                </div>
						</div>
						
            			<div class="box-item item2" onclick="showModalAndRedirect('/project')">
            				<div class="box-front">
			                    <h3>PROJECT</h3>
			                    <p>JH의 개발 일대기</p>
			                </div>
			                <div class="box-back">
			                    <p>Click to Visit Project Page</p>
			                </div>
            			</div>
            			
            			<div class="box-item item3" onclick="window.location.href=''">
            				<div class="box-front">
			                    <h3>페이지3</h3>
			                    <p>미정</p>
			                </div>
			                <div class="box-back">
			                    <p>Click to Visit Page 3</p>
			                </div>
            			</div>
            			
            			<div class="box-item item4" onclick="window.location.href='/qna'">
            				<div class="box-front">
			                    <h3>QNA</h3>
			                    <p>실시간 채팅 X 게시판</p>
			                </div>
			                <div class="box-back">
			                    <p>Click to Visit Page 4</p>
			                </div>
            			</div>
	                </div>
	            </div>
	        </section>
	
	        <!-- footer -->
	        <footer id="footer">
	            <div class="inner">
	                <h3>CONTACT ME</h3>
	                <ul class="links">
	                	<li><a href="https://github.com/tuy112"><img src="/images/GithubLogo.png" alt="깃허브"/><em>GITHUB</em></a></li>
	                	<li><a href="https://jh-healing-place.tistory.com/"><img src="/images/TstoryLogo.png" alt="티스토리"/><em>BLOG</em></a></li>
	                    <li><a href="https://www.youtube.com/channel/UCIUZejYbHXZOHhwUokcRBUQ"><img src="/images/YoutubeLogo.png" alt="유튜브"/><em>YOUTUBE</em></a></li>
	                </ul>
	                <div class="always">
	                    <p>Future Korean NO.1 Developer</p>
	                </div>
	
	                <div class="top">
	                	<a href="/home">
	                		<i class="xi-angle-up"></i>
	                	</a>
	                </div>
	            </div>
	        </footer>
	
	        <!-- modal popup -->
	        <div class="modal" id="modal">
	            <div class="modal-popup">
	                <div class="modal-txt">
	                    <p>지금 바로 이동합니다~ 잠시만 기다려주세요^^</p>
	                    <p>물이라도 한잔하고 와</p>
	                </div>
	                <div class="loading" id="load">
	                    <img src="/images/modal/Walk.gif" alt="loading">
	                </div>
	            </div>
	        </div>
	    </div> <!-- end #wrap-->
	
	    <!-- script part -->
	    <script src="/js/common.js"></script>
	    <script src="/js/main.js"></script>
	</body>
</html>