<!DOCTYPE heml>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    
	    <link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
		
		<title>Jstory</title>
		<!-- jquery -->
    	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    	<!-- css link -->
    	<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
		<link rel="stylesheet" href="/css/common/reset.css">
		<link rel="stylesheet" href="/css/main.css">
		<link rel="stylesheet" href="/css/modal.css">
	</head>
	<body>
		<div id="wrap">
	        <!-- header -->
	        <header id="header">
	            <h1>
	                <a href="./index.html">JSTORY</a>
	                <span>Tymeleaf X JAVA X MySQL</span>
	            </h1>
	            <div class="search" onclick="search();">
	            	<i class="xi-search"></i>
	            </div>
	        </header>
	
	        <!-- main -->
	        <section id="container" class="main">
	            <div class="select-wrap">
	                <h3>아래 버튼을 클릭해서 원하는 페이지로 이동하세요 ▼</h3>
	                <div class="select-box" id="selectBox">
	                	
	                </div>
	            </div>
	        </section>
	
	        <!-- footer -->
	        <footer id="footer"></footer>
	
	        <!-- modal popup -->
	        <div class="modal">
	            <div class="modal-popup">
	                
	            </div>
	        </div>
	    </div> <!-- end #wrap-->
	
	    <!-- script part -->
	    <script src="./js/common.js"></script>
	    <script src="./js/main.js"></script>
	</body>
</html>