<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JH TODOLIST</title>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    <link rel="stylesheet" href="/css/common/reset.css">
    <link rel="stylesheet" href="/css/todo/todo.css">
</head>
<body>
    <div id="wrap">
        <!-- header -->
        <header id="header">
            <h1>
                <a href="./index.html">JSTORY</a>
                <span> -JTodoList</span>
            </h1>
            <button class="hamburger-menu" onclick="menu();">
            	<i class="xi-hamburger-back"></i>
            </button>
            <div class="side-menu" id="side-menu">
			    <!-- 메뉴 항목 -->
			    <ul class="menu-section">
			    	<li><a href="/home">HOME</a></li>
			    	<li><a href="/todo">TODOLIST</a></li>
			    	<li><a href="/mountain">나만의 등산 기록방(GIS)</a></li>
			    </ul>
			</div>
        </header>

        <!-- main -->
        <section id="container" class="main">
            <!-- 1.tableWrap -->
            <div class="tableWrap">
                <h2>TodoList</h2>
                <table class="todoTable">
                    <caption>오늘 할 일을 내일로 미루지말자!</caption>
                    <thead>
                    <tr>
                        <td></td>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                        <th style="width: 5px;">비고</tr>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>1</th>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>2</th>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>3</th>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <button class="btn dailyBtn" onclick="dailyRoom();">
                    매일매일 일과기록하는 공간
                </button>
            </div>

            <hr/>

            <!-- 2.studyWrap -->
            <div class="studyWrap">
                <h2>나만의 공부방 ▽</h2>
                <button class="btn pressBtn" onclick="pressBtn()">공부하러가자!</button>
            </div>
            
            <div class="modal">
                <div class="modalTxt">
                    <p>지금 바로 이동합니다~ 잠시만 기다려주세요^^</p>
                    <p>물이라도 한잔하고 와</p>
                </div>
                <div class="loading" id="load">
                    <img src="./images/Walk.gif" alt="loading">
                </div>
            </div>
            
            
        </section>

        <footer id="footer">
            <p>Made By K.JaeHyeok</p>
        </footer>
    </div>

    <!-- script part -->
    <script src="/js/common.js"></script>
</body>
</html>